### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [126]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [127]:
total_players = [len(df['SN'].unique())]
total_players_df = pd.DataFrame({'Total Players': total_players})
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
unique_items = df['Item Name'].unique()
unique_items_count = [len(unique_items)]
avg_purchase_price = [(df['Price'].sum()) / (df['Price'].count())]
total_purchases = [df['Price'].count()]
total_revenue = [df['Price'].sum()]
purchase_analysis = pd.DataFrame({
        'Number of Unique Items': unique_items_count, 
        'Average Purchase Price' : avg_purchase_price,
        'Total Number of Purchases' : total_purchases,
        'Total Revenue' : total_revenue})
purchase_analysis.style.format({'Average Purchase Price':'${:.2f}', 'Total Revenue':'${:.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [129]:
gender_group = df.groupby("Gender")

total_by_gender = gender_group.nunique()["SN"]

percent_by_gender = total_by_gender / total_players 

gender_demo = pd.DataFrame({"Total Count" : total_by_gender, "Percentage of Players" : percent_by_gender})

gender_demo.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [130]:
purchase_count = gender_group['Price'].count()

avg_purchase_price_gen = gender_group['Price'].mean()

total_purchase_value = gender_group['Price'].sum()

avg_total_person = total_purchase_value / total_by_gender

gen_purch_analysis = pd. DataFrame({
                                    'Purchase Count' : purchase_count, 
                                    'Average Purchase Price' : avg_purchase_price_gen,
                                    'Total Purchase Value' : total_purchase_value,
                                    'Avg Total Purchase per Person' : avg_total_person})

gen_purch_analysis.style.format({'Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:.2f}', 'Avg Total Purchase per Person':'${:.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [131]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40+']

df['Age Group'] = pd.cut(df['Age'], bins, labels=group_names, include_lowest=True)

age_group = df.groupby(['Age Group'])

total_by_age = age_group.nunique()['SN']

percent_by_age = (total_by_age / total_players)

age_demo = pd.DataFrame({'Total Count' : total_by_age, 'Percentage of Players' : percent_by_age})

age_demo.style.format({'Percentage of Players':'{:.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [132]:
purchase_count_age = age_group["Price"].count()

avg_purch_price_age = age_group['Price'].mean()

total_purch_val_age = age_group['Price'].sum()

avg_purch_person_age = total_purch_val_age / total_by_age

age_purch_analysis = pd.DataFrame({'Purchase Count' : purchase_count_age, 
                                    'Average Purchase Price' : avg_purch_price_age,
                                    'Total Purchase Value' : total_purch_val_age,
                                    'Avg Total Purchase per Person' : avg_purch_person_age})
age_purch_analysis.style.format({'Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:,.2f}', 'Avg Total Purchase per Person':'${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
sn_group = df.groupby(['SN'])

total_purch_val_sn = pd.DataFrame({
                                    'Purchase Count' : sn_group['Price'].count(), 
                                    'Average Purchase price' : sn_group['Price'].mean(),
                                    'Total Purchase Value' : sn_group['Price'].sum()})

sorted_df = total_purch_val_sn.sort_values('Total Purchase Value', ascending=False)

top_spenders = sorted_df.head()

top_spenders.style.format({'Average Purchase price':'${:.2f}', 'Total Purchase Value' : '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [134]:
item_group = df.groupby(['Item ID', 'Item Name'])

item_df = pd.DataFrame({
                        'Purchase Count' : item_group['Price'].count(), 
                        'Item Price' : item_group['Price'].sum()/item_group['Price'].count(),
                        'Total Purchase Value' : item_group['Price'].sum()})

count_sorted_df = item_df.sort_values('Purchase Count', ascending=False)

most_popular = count_sorted_df.head()

most_popular.style.format({'Item Price' : "${:.2f}", 'Total Purchase Value' : '${:.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [135]:
profit_sorted_df = item_df.sort_values('Total Purchase Value', ascending=False)

most_profitable = profit_sorted_df.head()

most_profitable.style.format({'Item Price' : "${:.2f}", 'Total Purchase Value' : '${:.2f}'})